target/
reports/

# Platform export (keep golden platform file only)
checkstyle/0/*
!checkstyle/0/checkstyle.json

.idea/
*.iml
.classpath
.project
.settings/
*.class
*.jar
!/.mvn/wrapper/maven-wrapper.jar
.DS_Store
